# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [33]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key
# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [46]:
city_data_df = city_csv_df[["name", "sys.country", "main.humidity", "coord.lon", "coord.lat"]]
city_data_df.head()

           name sys.country  main.humidity  coord.lon  coord.lat
0        Hobart          AU           74.0   147.3294   -42.8794
1         Vaini          TO           88.0  -175.2000   -21.2000
2          Lata          PT           36.0    -8.3327    40.1629
3    Butaritari          KI           77.0   172.7902     3.0707
4  Saint-Pierre          RE           67.0    55.4781   -21.3393

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [48]:
rename_city_data_df = city_data_df.rename(columns={"name":"city", "sys.country": "Country", "main.humidity": "Humidity"})
rename_city_data_df

             city Country  Humidity  coord.lon  coord.lat
0          Hobart      AU      74.0   147.3294   -42.8794
1           Vaini      TO      88.0  -175.2000   -21.2000
2            Lata      PT      36.0    -8.3327    40.1629
3      Butaritari      KI      77.0   172.7902     3.0707
4    Saint-Pierre      RE      67.0    55.4781   -21.3393
..            ...     ...       ...        ...        ...
608        Tumaco      CO      87.0   -78.8156     1.7986
609           NaN     NaN       NaN        NaN        NaN
610   Panama City      PA      82.0   -79.5197     8.9936
611      Waingapu      ID      75.0   120.2641    -9.6567
612     Belyy Yar      RU      60.0    91.3903    53.6039

[613 rows x 5 columns]

In [49]:
rename_city_data_df.iloc[10, :]

city         Santa Maria
Country               BR
Humidity           100.0
coord.lon       -53.8069
coord.lat       -29.6842
Name: 10, dtype: object

In [50]:
row_df = rename_city_data_df.iloc[1:10, :].reset_index()
row_df

   index            city Country  Humidity  coord.lon  coord.lat
0      1           Vaini      TO      88.0  -175.2000   -21.2000
1      2            Lata      PT      36.0    -8.3327    40.1629
2      3      Butaritari      KI      77.0   172.7902     3.0707
3      4    Saint-Pierre      RE      67.0    55.4781   -21.3393
4      5           Bluff      NZ      95.0   168.3333   -46.6000
5      6             NaN     NaN       NaN        NaN        NaN
6      7          Avarua      CK      73.0  -159.7750   -21.2078
7      8  Preobrazheniye      RU      93.0   133.9064    42.9019
8      9        Hamilton      US      79.0   -84.5333    39.1834

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# Add marker layer ontop of heat map


# Display figure