# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [77]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key
# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [78]:
city_data_df = city_csv_df[["name", "sys.country", "main.humidity", "coord.lon", "coord.lat"]]
city_data_df.head()

           name sys.country  main.humidity  coord.lon  coord.lat
0        Hobart          AU           74.0   147.3294   -42.8794
1         Vaini          TO           88.0  -175.2000   -21.2000
2          Lata          PT           36.0    -8.3327    40.1629
3    Butaritari          KI           77.0   172.7902     3.0707
4  Saint-Pierre          RE           67.0    55.4781   -21.3393

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [79]:
rename_city_data_df = city_data_df.rename(columns={"name":"city", "sys.country": "Country", "main.humidity": "Humidity"})
rename_city_data_df

             city Country  Humidity  coord.lon  coord.lat
0          Hobart      AU      74.0   147.3294   -42.8794
1           Vaini      TO      88.0  -175.2000   -21.2000
2            Lata      PT      36.0    -8.3327    40.1629
3      Butaritari      KI      77.0   172.7902     3.0707
4    Saint-Pierre      RE      67.0    55.4781   -21.3393
..            ...     ...       ...        ...        ...
608        Tumaco      CO      87.0   -78.8156     1.7986
609           NaN     NaN       NaN        NaN        NaN
610   Panama City      PA      82.0   -79.5197     8.9936
611      Waingapu      ID      75.0   120.2641    -9.6567
612     Belyy Yar      RU      60.0    91.3903    53.6039

[613 rows x 5 columns]

In [80]:
rename_city_data_df.iloc[10, :]

city         Santa Maria
Country               BR
Humidity           100.0
coord.lon       -53.8069
coord.lat       -29.6842
Name: 10, dtype: object

In [100]:
row_df = rename_city_data_df.iloc[1:5, :].reset_index()
row_df

   index          city Country  Humidity  coord.lon  coord.lat
0      1         Vaini      TO      88.0  -175.2000   -21.2000
1      2          Lata      PT      36.0    -8.3327    40.1629
2      3    Butaritari      KI      77.0   172.7902     3.0707
3      4  Saint-Pierre      RE      67.0    55.4781   -21.3393

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [101]:
row_df.count()

index        4
city         4
Country      4
Humidity     4
coord.lon    4
coord.lat    4
dtype: int64

In [102]:
clean_data_df = row_df.dropna()
clean_data_df.dtypes

index          int64
city          object
Country       object
Humidity     float64
coord.lon    float64
coord.lat    float64
dtype: object

In [103]:
locations = clean_data_df[["coord.lat", "coord.lon"]]
weights = clean_data_df["Humidity"]
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [90]:
clean_data_df.loc["Hotel Name"] = ""
clean_data_df.loc["Hotel Address"] = ""
clean_data_df.loc["Hotel Rating"] = ""
clean_data_df.head()

C:\Users\User\anaconda38\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

,index,city,Country,Humidity,coord.lon,coord.lat,Hotel Name,Hotel Address,Hotel Rating
0,10,Santa Maria,BR,100.0,-53.8069,-29.6842,,,
1,11,Ushuaia,AR,65.0,-68.3,-54.8,,,
2,12,Kutum,SD,39.0,24.6667,14.2,,,
4,14,Castro,BR,71.0,-50.0119,-24.7911,,,
5,15,Barrow,US,97.0,-156.7887,71.2906,,,

In [ ]:
# Add marker layer ontop of heat map


# Display figure